.App .App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}
.App .App-header {
  margin: 10px 10px;
}
.App footer {
  font-size: 14px;
  opacity: 0.8;
  text-align: center;
  margin: 10px;
}
.App a {
  text-decoration: none;
  color: purple;
}
.App .container {
  max-width: 800px;
}
