.Dictionary form {
  text-align: center;
  margin-bottom: 30px;
}
.Dictionary .form-button {
  background-color: #9a519a;
  color: beige;
}
.Dictionary .form-button:hover {
  border: 1px solid #9a519a;
  background-color: beige;
  color: #9a519a;
}
.Dictionary .form-input {
  margin-right: 5px;
  padding: 4px;
  border-radius: 3px;
}
